image: docker:24.0.5
services:
  - name: docker:24.0.5-dind
    alias: dockerdaemon
stages:
  - build
  - test
  - lint
variables:
  DOCKER_HOST: tcp://dockerdaemon:2375
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

build_backend:
  stage: build
  script:
    - docker build -f Dockerfile -t meu-backend-img:ci .

build_frontend:
  stage: build
  script:
    - docker build -f www/Dockerfile -t meu-frontend-img:ci ./www

test_backend:
  stage: test
  image: python:3.8-slim
  variables:
    SECRET_KEY: "dummy-secret-key-for-ci"
  before_script:
    - apt-get update && apt-get install -y build-essential libpq-dev
    - pip install -r requirements.txt
  script:
    - python manage.py test api

test_frontend:
  stage: test
  image: node:20-alpine
  before_script:
    - cd www
    - npm install
  script:
    - npm test